:root {
  --primary-color: #7f8eef;
  --accent-color: #5d70eb;
  --hover-color: #6978d9;
  --background-color: #f8f9fc;
  --text-color: #333;
  --border-radius: 8px;
  --shadow-color: rgba(0, 0, 0, 0.1);
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: Arial, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}

header nav {
  background-color: var(--primary-color);
  border-bottom: 3px solid var(--border-color);
  padding: 10px 20px;
}

header nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

header nav li {
  list-style-type: none;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 10px;
}

nav a:hover {
  color: var(--hover-color);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

h1,
h2 {
  font-size: 1.5rem;
  margin: 20px 0;
  text-align: center;
  color: var(--text-color);
}

.lista-publicaciones {
  max-width: 80%;
  width: -webkit-fill-available;
  width: -moz-available;
  margin: 20px auto;
  padding: 20px;
  background-color: white;
  border-radius: var(--border-radius);
  box-shadow: 0 4px 8px var(--shadow-color);
}

.lista-publicaciones h2 {
  text-align: center;
  font-size: 1.8rem;
  margin: 0 0 20px;
  color: var(--accent-color);
}

.publicacion {
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  padding: 20px;
  margin-bottom: 20px;
  background-color: white;
  transition: transform 0.2s, box-shadow 0.3s ease;
}

.publicacion:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px var(--shadow-color);
}

.publicacion a {
  text-decoration: none;
  color: var(--text-color);
}

.publicacion a:hover h3 {
  color: var(--hover-color);
}

.publicacion h3 {
  font-size: 1.25rem;
  margin: 0 0 10px;
  color: var(--accent-color);
}

.publicacion p {
  color: #666;
  margin: 5px 0;
  font-size: 0.9rem;
}

.formulario-sesion {
  width: 100%;
  max-width: 400px;
  padding: 40px;
  background-color: white;
  border-radius: var(--border-radius);
  box-shadow: 0 4px 10px var(--shadow-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formulario-sesion h1 {
  font-size: 1.5rem;
  color: var(--accent-color);
  margin-bottom: 30px;
  text-align: center;
}

.campo {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.campo label {
  font-size: 0.9rem;
  color: var(--text-color);
  margin-bottom: 8px;
}

.campo input[type="text"],
.campo input[type="password"] {
  padding: 12px;
  font-size: 1rem;
  border-radius: var(--border-radius);
  border: 1px solid #e0e0e0;
  outline: none;
  transition: border-color 0.3s ease;
}

.campo input[type="text"]:focus,
.campo input[type="password"]:focus {
  border-color: var(--accent-color);
  box-shadow: 0 0 5px var(--accent-color);
}

.boton-sesion {
  width: 100%;
  padding: 12px;
  font-size: 1rem;
  color: white;
  background-color: var(--accent-color);
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-weight: bold;
}

.boton-sesion:hover {
  background-color: var(--hover-color);
}

.boton-sesion:active {
  background-color: #505cbf;
}

.contenido-publicacion {
  max-width: 70%;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  background-color: #f9f9fb;
  box-shadow: 0 4px 8px var(--shadow-color);
}

.contenido-publicacion h1 {
  font-size: 1.8rem;
  margin-bottom: 10px;
  color: var(--primary-color);
}

.propiedades {
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
  color: gray;
  margin-bottom: 20px;
}

.lista-comentarios {
  max-width: 70%;
  margin: 20px auto;
  padding: 20px;
  border-top: 2px solid var(--accent-color);
}

.comentario {
  margin-top: 15px;
  padding: 10px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  background-color: #ffffff;
}

.datos-comentario {
  display: flex;
  justify-content: space-between;
  font-size: 0.85rem;
  color: gray;
}

.usuario {
  font-weight: bold;
  color: #555;
}

.fecha-comentario {
  font-style: italic;
}

.contenido-comentario {
  margin-top: 8px;
  font-size: 1rem;
  color: var(--text-color);
  overflow: clip;
}

.comentario-formulario {
  max-width: 70%;
  margin: 20px auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.comentario-formulario #contador {
  font-size: 0.8rem;
  margin: 0;
  text-align: end;
}

.comentario-formulario textarea {
  padding: 10px;
  font-size: 1rem;
  border-radius: 8px;
  border: 1px solid #e0e0e0;
  resize: vertical;
  transition: border-color 0.3s ease;
  resize: none;
}

.comentario-formulario textarea:focus {
  border-color: var(--accent-color);
  box-shadow: 0 0 5px var(--accent-color);
}

.comentario-formulario button {
  width: fit-content;
  padding: 10px 20px;
  background-color: var(--accent-color);
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
  align-self: flex-end;
}

.comentario-formulario button:hover {
  background-color: var(--hover-color);
}
